body {
  background-image: url("background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the body fills the viewport height */
}

#main-menu,
#quiz-container,
.modal, #result-container {
  text-align: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 50px;
}

#result-container, #quiz-container {
  display: none;
}

#flag-container img {
  width: 200px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
}

/* Add your CSS styling here */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.wrong-flag-image {
  width: 50px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.styled-table {
  padding: 20px;
  margin: 0 auto; /* Center the table horizontally */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.styled-button {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* Add additional styling for the button if needed */
}

